@import "tailwindcss";

.no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE y Edge */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome y Safari */
}