---
const anioActual = new Date().getFullYear();
---
<footer class="w-full bg-slate-300 dark:bg-slate-800 text-gray-900 dark:text-gray-100 fixed bottom-0 left-0 py-3 flex justify-center items-center">
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© {anioActual} <a href="https://flowbite.com/" class="hover:underline">Luis Luna</a>. Casi todos los derechos reservados.</span>
</footer>